{% extends '::fb_base.html.twig' %}

{% block title %}Resume Success{% endblock %}

{% block pageTitle %}Resume Success{% endblock %}

{% block body %}

        <div class="container Main-content">
            <div class="Student CVSuccess">
                <div class="row-fluid show-grid">
                    <div class="span12">
                        <h1>Congratulations on your first resume with InternJump</h1>
                        <a href="{{ path('fb_user_portal_home', {'loginName': loginName, 'cvId': cvId}) }}">View Your Resume</a>
                        <h2>You are just a step away from securing a killer internship</h2>
                    </div>
                </div><!--row-fluid show-grid-->
            </div><!---Student --->
        </div><!--container-->
{% endblock %}
