# Bootstrap
#app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
#app/config/parameters.ini
#app/config/parameters.yml

# Project files
/web/cvFiles/
/web/images/
/web/sitePages/