{% extends '::base.html.twig' %}

{%block body%}

{#<img border="0" src="http://mitosoc.org/blogs/wp-content/themes/Cutline2pt1/images/header.jpg" alt="Pulpit rock" width="690" height="150" />#}
<a href="{{url('ObjectsInternJumpBundle_homepage')}}"><img border="0" src="http://ww1.prweb.com/prfiles/2012/06/12/9596482/IJ%20Logo.jpg" alt="Pulpit rock" width="150" height="150" /></a>
<b><i>Your Opportunities Guide</i></b>
<hr>
<a href="{{url('ObjectsInternJumpBundle_homepage')}}">Home</a>
<br />
<hr>
<h3>Internjump Test</h3>


{%endblock%}