{% extends '::base.html.twig' %}

{% block title %}Employers{% endblock %}

{% block pageTitle %}Employers{% endblock %}

{% block employeeNav %}active{% endblock%}

{%block body%}

<div class="main-wapper">
    {{employersData|raw}}
</div>

{%endblock%}

{% block javascripts %}
{{parent()}}
<script>
    $(document).ready(function() {

        $('#companySignUpLink').click(function() {
            window.location = '{{path('company_signup')}}';
        });
        $('#companyLogin').click(function() {
            window.location = '{{path('login')}}';
        });
    });
    </script>
{% endblock %}

