{% extends '::base.html.twig' %}



{% block title %}
{{parent()}} - Mail sent
{%endblock%}

{%block body%}


<div class="Wrapper404">
<h2>Thank you for helping us reporting this issue.</h2>
<h2><a href="{{path('site_homepage')}}">Back to homepage</a></h2>
</div>


{%endblock%}

